
/* utility class */


#menu{
    max-width: 1100px;
    height: 40px;
    margin: 30px auto;
    padding: 30px auto;
    display: flex;
    align-items: center;
}
#menu h3{
    margin: 1rem;
    padding: 1rem 1rem 0.1rem 1rem;
    font-family: 'TrajanPro-Regular';
    border-bottom: 2px solid #333;
    
}

.properties{
    width: 90%;
    height: 300px;
    background-size: cover;
}

#products-offered{
    max-width: 1100px;
    height: 320vh;
    margin: 30px auto;
    padding: 30px auto;
    display: flex;
    flex-wrap: wrap;
    background: rgb(252, 252, 252);
    
}
/* PRODUCT-LEFT */
#products-offered #products-left{
    display: flex;
    flex-direction: column;
    width: 50%;
}
#products-offered #products-left .box{
    margin: 1rem;
    display: flex;
    align-items: flex-end;
    padding: 1rem 0rem;
    color: #fff;

}
/* PRODUCT RIGHT */
#products-offered #products-right{
    width: 50%;
    display: flex;
    flex-direction: column;
}

#products-offered #products-right .box{
    margin: 1rem;
    display: flex;
    align-items: flex-end;
    padding: 1rem 0rem;
    color: #fff;
}

.item-1{
    background: url('../img/breaded-porkchop.jpg') no-repeat center;
}
.item-2{
    background: url('../img/fish-fillet.jpg') no-repeat;
}
.item-3{
    background: url('../img/pepper\ beef.jpg') no-repeat center;
}
.item-4{
    background: url('../img/gyoza.jpg') no-repeat;
}
.item-5{
    background: url('../img/Kimchi-jigae.jpg') no-repeat;
}
.item-6{
    background: url('../img/yakisoba.jpg') no-repeat;
}
.item-7{
    background: url('../img/koreanramen-special.jpg') no-repeat center;
}
.item-8{
    background: url('../img/padd-thai.jpg') no-repeat center;
}
.item-9{
    background: url('../img/bibimbap-1.jpg') no-repeat center;
}
.item-10{
    background: url('../img/photo-4.jpg') no-repeat center;
}
.item-11{
    background: url('../img/spicy-curry.jpg') no-repeat center;
}
.item-12{
    background: url('../img/bistek.jpg')no-repeat center;
}

.description{
    color: rgb(199, 198, 198);
    background: rgba(0, 0, 0, 0.6);
    padding: 1rem;
    margin: 15px 0px;
}
.description:hover{
    color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0.6);
    padding: 1rem;
    cursor: pointer;
}



