@font-face {font-family: 'TrajanPro-Regular'; src: url('../fonts/TrajanPro-Regular.otf');}
@font-face {font-family: 'Futura-Light'; src: url('../fonts/Futura\ Light\ BT.ttf');}
@font-face {font-family: 'Futura-Medium'; src: url('../fonts/Futura\ Medium\ BT.ttf');}
@font-face {font-family: 'Futura-BT'; src: url('../fonts/Futura-LtCn-BT-Light.ttf');}
#branches{
    height: 54vh;
    margin: 50px auto;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Futura-BT';
}
#branches .branches-msg{
    display: flex;
    width: 1100px;
    height: 44vh;
    background: rgb(236, 236, 236);
    align-items: center;
    justify-content: center;
}