
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
/* main elements */
@font-face {font-family: 'TrajanPro-Regular'; src: url('../fonts/TrajanPro-Regular.otf');}
@font-face {font-family: 'Futura-Light'; src: url('../fonts/Futura\ Light\ BT.ttf');}
@font-face {font-family: 'Futura-Medium'; src: url('../fonts/Futura\ Medium\ BT.ttf');}

:root{
    --light-color: #fff;
    --dark-color: #222;
    --primary-color: #111;
    --yellow-color: #f6da63;
    --red-color: #9d0b0b;
}
/* utility class */
.sp-1{color: var(--yellow-color)}
.sp-2{color: var(--red-color)}

/* Font-size */
.fs-small{font-size: 12px;}
/* main selectors */
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--primary-color);

}

body{
    font-family: 'Roboto', sans-serif;
    background: #fff url('/img/jelay-outdoor.jpg') no-repeat center center/cover;
    position: relative;

}
body::after{
    content: '*';
    background: rgba(0,0,0,0.9);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;

}

.header{
    width: 100%;
    height: 16vh;
    z-index: 3;
    background: var(--light-color);
    position: sticky;
    top: 0;
    left: 0;
    border-bottom: 1px solid #ddd;

}
.container{
    max-width: 950px;
    height: 100%;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    align-items: center;
}
/* left-header */
.left-header{
    display: flex;
    margin: auto;
    width: 50%;
    height: 100%;
}
.left-header .logo{
    display: flex;
    align-items: center;
}
.left-header .logo-description{
    font-family: 'TrajanPro-Regular';
    text-align: center;
}
.image-logo{
    width: 100%;
    height: 100%;
}
.left-header .nav{
    margin: 0 2rem;
    padding: 0.75em;
    margin: auto;
}
.left-header .nav .navigation{
    display: flex;
}
.left-header .nav .navigation li a{
    padding: 0.75em 1rem;
    font-size: 13px;
    opacity: 0.7;
 
}
.left-header .nav .navigation li a:hover, .left-header .nav .navigation li a.current{
    opacity: 1;
    border: 1px solid #a0a0a0;;
    transition: all 0.3s ease;
}
/* right-header */
.right-header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    width: 50%;
    height: 100%;
}
.right-header .search-products form{
    display: flex;
}
.search-field{
    width: 195px;
    height: 25px;
    padding: 1rem;
}
.btn{
    width: 30px;
    height: 35px;
}
.right-header .account ul{
    display: flex;
}
.right-header .account ul li a{
    padding: 1rem;
    font-size: 13px;
 
}


/* section */
.section{
    height: 60vh;
    width: 100%;
    position: relative;
    z-index: 2;
}
.s-container{
    max-width: 950px;
    height: 100%;
    margin: 0 auto;
    background: rgb(253, 253, 253);
    display: flex;
}
.s-container .showcase{
    width: 33.33%;
    height: 100%;
    margin-left: auto;
}
.showcase > div:nth-child(2){
    padding: 2rem;
}
.showcase div h3{
    padding: 0.5em 1rem 0.1em 1rem;

}
.showcase div p{
    padding: 0.5em 1rem 0.1em 1rem;
    font-size: 12px;
}
.showcase div ul{
    padding: 0px 1rem;
}
.showcase div ul > li{
    list-style-type: disc;
}
.showcase div ul li > a{
    font-family: 'TrajanPro-Regular';
    font-size: 13px;
}
/* article */
.s-container .article{
    width: 66.67%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-right: auto;
    position: relative;
}
.s-container .article .top-article{
    width: 100%;
    height: 66.67%;
    background: url('/img/breaded-porkchop.jpg') no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.prev{
    position: absolute;
    left: 4px;
}
.next{
    position: absolute;
    right: 4px;
}
.s-container .article .bottom-article{
    width: 100%;
    height: 33.33%;

}
/* section_showcase */
.section_showcase{
    width: 100%;
    height: 80vh;
    margin: 2px auto;
    z-index: 2;
    position: relative;
}
.global-container{
    max-width: 950px;
    margin: 0 auto;
    background: #fff;
    height: 100%;
}


/* footer */
.footer{
    height: 8vh;
    width: 100%;
    background: rgb(238, 238, 238);
    z-index: 2;
    position: relative;
}