
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
/* main elements */
@font-face {font-family: 'TrajanPro-Regular'; src: url('../fonts/TrajanPro-Regular.otf');}
@font-face {font-family: 'Futura-Light'; src: url('../fonts/Futura\ Light\ BT.ttf');}
@font-face {font-family: 'Futura-Medium'; src: url('../fonts/Futura\ Medium\ BT.ttf');}

body{
    font-family: 'Futura-Light';
    background: rgb(252, 252, 252);
}

li{
    list-style: none;
}
a{
    text-decoration: none;

}
/* utility class */
/* color */
.dark-color{color: #F4A211;}
.light-color{color: #fff;}
.red-color{color: rgb(236, 62, 62);}
.secondary-color{color: rgb(245, 245, 245);}
.blue-color{color :rgb(56, 71, 209);}
/* background color */
.light-bg{background: #fff;}
.black-bg{background: #333;}
.primary-bg{background: #F4A211;}
.blue-bg{background: rgb(56, 71, 209);}
/* font */
.small-font{font-size: 16px;}
.medium-font{font-size: 20px;}
.large-font{font-size: 28px;}
.largest-font{font-size: 42px;}
/* border */
.light-border{border: 1px solid rgb(224, 221, 221);}
.primary-border{border: 1px solid #F4A211;}
.dark-border{border: 1px solid #333;}
/* padding */

.py-1{padding: 0.5rem;}
.py-2{padding: 0.2rem 0rem 0.5rem 0rem;}
.py-3{padding: 0.5rem 1rem 1rem 0.2rem;}
.py-4{padding: 1rem;}
.py-5{padding: 0.5rem 0rem 0.5rem 0.5rem;}
/* margin */
.mg-1{margin: 1rem;}
.mg-2{margin: 0.75rem;}
.mg-3{margin: 1rem 1rem 0.3rem 1rem;}
/* nav-top */

.container{
    margin: auto;
    max-width: auto;
    overflow: auto;
}

.navigation-header{
    height: 6vh;
    background: rgb(247, 247, 247);
    display: flex;
    justify-content:flex-end;
    align-items: center;
    padding: 0.2em 100px;
}

/* header-nav */
#header-nav{
    position: sticky;
    top: 0px;
    margin: 10px 0px;
    border-bottom: 1px solid rgb(224, 224, 224);
}
.nav-bar{
    height: 15vh;
    background: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.nav-bar .logo{
    font-size: 24px;
    padding: 2rem;
}
.nav-bar form input{
    border-radius: 6px;
    padding: 0.4em;
}
.nav-bar h4{
    text-align: center;
}
.nav-bar .navigation li a{
    color: rgb(145, 145, 145);
    padding: 1rem;
    border-radius: 6px;
    font-size: 14px;
}
.nav-bar .navigation li a:hover, .nav-bar .navigation li a.current{
    color: rgb(22, 22, 22);
    background: rgb(252, 252, 252);
}

/* Showcase */
.showcase-content{
    height: 60vh;
    max-width: 850px;
    margin: 5px auto 15px auto;
    height: 60vh;
    background: #333 url('../img/gyudon.jpg') no-repeat center;
    background-size: cover;
    display: flex;
    justify-content: center;
}
.showcase-content .showcase-main{
    display: flex;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #fff;
 
    padding: 0px 150px;
    line-height: 1.7em;
}
.showcase-content .showcase-main ul{
    margin-top: 20px;
}
.showcase-content .showcase-main ul li a{
    color: rgb(110, 109, 109);
    background: rgb(233, 233, 233);
    padding: 1rem;
}
.showcase-content .showcase-main ul li a:hover{
    background: rgb(56, 82, 231);
    color: #fcfcfc;
}

/* services */
.services{
    margin: 40px auto 60px auto;
    max-width: 850px;
    height: 40vh;
    display: flex;
}
.services .left-content{
    background: url('../img/jelay-outdoor.jpg');
    background-size: cover;
    width: 50%;
    height: 300px;
    padding: 4rem;
    border: 1px solid #333333;  
}
.services .right-content{
    margin: 0.1em;
    padding: 0.75rem 1.7em 0.75rem 1.3em;
    line-height: 1.3em;
}



/* Branches */
.our-story{
    margin: 20px auto 60px auto;
    max-width: 850px;
    height: 80vh;
    display: flex;
    flex-direction: column;
    line-height: 1.6em;
    background: rgb(238, 238, 238);
}
.our-story .about-jelays{
    padding: 1rem;
    margin: 1rem;
    height: 20vh;
}
.our-story .about-us{
    margin: 1rem;
    padding: 1rem;
    height: 20vh;
    background: #fff;
}
.our-story .how-itstarts{
    padding: 1rem;
    margin: 1rem;
    height: 20vh;
}

/* footer */
#footer{
    height: 10vh;
    background: #333;
    color: #fff;
    display: flex;
    justify-content: center;
    padding: 0.3rem;
    line-height: 1.7em;
}
#footer a{
    color: #fff;
    margin: 0.75rem;
    padding: 0.5em;
}